version: "3.9"
services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
      - mongo
      - neo4j
    volumes:
      - .:/app
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  neo4j:
    image: neo4j:5
    ports:
      - "7474:7474"
      - "7687:7687"
    env_file:
      - .env
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
  celery_worker:
    build: .
    command: celery -A library worker -l info
    env_file:
      - .env
    depends_on:
      - web
      - redis
  celery_beat:
    build: .
    command: celery -A library beat -l info
    env_file:
      - .env
    depends_on:
      - web
      - redis
volumes:
  mongo_data:
  neo4j_data:
  neo4j_logs:
